@import url('https://fonts.googleapis.com/css2?family=ABeeZee&display=swap');

/* base styles */
* {
    margin: 2px;
    font-family: "ABeeZee";
    color: rgb(0, 0, 0);
  }
  .navbar {
    padding: 20px;
    display: flex;
    align-items: center;
    max-width: 600px;
    margin: 0 auto;
    border-bottom: 2px solid #0b9ea3;
  }
  .navbar h1 {
    color: #0b9ea3;
  }
  .navbar .links {
    margin-left: auto;
  }
  .navbar a {
    margin-left: 16px;
    text-decoration: none;
    padding: 6px;
  }
  .navbar a:hover {
    color: #ff0000;
  }
  .content {
    max-width: 600px;
    margin: 40px auto;
    padding: 20px;
  }

  .blog-preview{
 
    padding: 5px;
    margin: 10px;
    border-bottom: 2px solid #0b9ea3;
  }
  .blog-preview h2{
    color:#9639e2;
  }